.imageContainer {
  display: grid;
  /* margin-top: 10%; */
  grid-template-columns: 30% auto 35%;
  grid-template-rows: 20% auto 20%;
  z-index: -1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image {
  grid-column: 1/ span 3;
  grid-row: 1 / span 3;
  width: 95%;
  height: auto;
  z-index: -1;
  margin: auto;
  padding: 2%;
  border-radius: 50px;
}

.locationIcon {
  grid-column: 1;
  grid-row: 1;
  color: rgba(248, 174, 113, 0.801);
  z-index: 1;
  padding: 10%;
  margin-left: 5%;
  text-shadow: 1px 1px 2px rgb(219, 219, 219);
}

.time {
  grid-column: 3;
  grid-row: 1;
  color: rgba(248, 174, 113, 0.801);
  z-index: 1;
  padding: 10%;

  font-family: 'Airbnb Cereal App Book';
  font-size: 45px;
  text-shadow: 1px 1px 2px rgb(219, 219, 219);
}

.location {
 grid-column: 1 /span 3;
 grid-row: 1;
 font-size: 70px;
 z-index: 1;
 padding: 1%;
 margin-left: 10%;
 font-family: 'Airbnb Cereal App Book';
 color: rgb(255, 255, 255);
 text-shadow: 1px 1px 2px rgb(219, 219, 219);
}


.temperatureIcon {
 grid-column: 3;
 grid-row: 3;
 color: rgba(248, 174, 113, 0.801);
 z-index: 1;
 height: auto;
 margin-top: 5%;
 margin-left: 10%;
 text-shadow: 1px 1px 2px rgb(219, 219, 219);
}


.temperature {
 font-size: 70px;
 z-index: 1;
 grid-column: 3;
 grid-row: 3;
 font-family: 'Airbnb Cereal App Book';
 color: rgba(248, 174, 113, 0.801);
 margin-left: 45%;
 margin-bottom: 2%;
 margin-top: 4%;
 text-shadow: 1px 1px 2px rgb(219, 219, 219);
}

.character {
  height: 290%;
  width: auto;
  grid-column: 2 /span 2;
  grid-row: 3;
  z-index: 1;
  margin-top: -45.3%;
}

.voltIcon {
  grid-column: 1;
  grid-row: 3;
  color: rgba(248, 174, 113, 0.801);
  z-index: 1;
  height: auto;
  margin-top: 10%;
  margin-left: 20%;
  text-shadow: 1px 1px 2px rgb(219, 219, 219);
}

.volt {
  font-size: 70px;
  z-index: 1;
  grid-column: 1 / span 2;
  grid-row: 3;
  font-family: 'Airbnb Cereal App Book';
  color: rgba(248, 174, 113, 0.801);
  margin-left: 20%;
  margin-top: 3%;
  text-shadow: 1px 1px 2px rgb(219, 219, 219);
}